.cantainer {
    width: 350px;
    height: 450px;
    background-color: #3405a3;
    border-radius: 15px;
    box-shadow: 1px 5px 60px 0px #100a886b;
    padding: 0px 30px;
}
.cantainer .card-border-top {
    width: 60%;
    height: 3%;
    background: #6b64f3;
    margin: auto;
    border-radius: 0px 0px 15px 15px;
}
.cantainer span {
    font-weight: 600;
    color: white;
    text-align: center;
    display: block;
    padding-top: 10px;
    font-size: 16px;
}
.cantainer .job {
    font-weight: 400;
    color: white;
    display: block;
    text-align: center;
    padding-top: 3px;
    font-size: 12px;
}
.cantainer .img {
    width: 200px;
    height: 200px;
    background: #6b64f3;
    border-radius: 15px;
    margin: auto;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #c6dbff;
}
.profile{
   display: flex;
   flex-direction: row-reverse;
   gap: 10px;
   margin-top: 10px; 
}
.profile h4 {
    font-weight: 600;
    margin-top: 8px;

}